{% extends "base.html" %}

{% block title %}상품 목록{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="fw-bold mb-4">🛍️ 판매 중인 프로그램 목록</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 border-dark">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">EXE 프로그램 + 설명서 포함</p>
                    <p class="card-text fw-bold text-end">1500.00 원</p>
                    <div class="d-grid">
                        <a href="/product/1/" class="btn btn-outline-dark">
                            상세보기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
