{% extends "base.html" %}
{% block title %}주문 정보 입력{% endblock %}

{% block content %}
<h2 class="mb-4"><span class="emoji">🧾</span> 주문 정보 입력</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">이름</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-dark">주문 완료</button>
</form>
{% endblock %}
